html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fff;
  cursor: default;
  font-family: serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  background-image: url("../media/blue_sky.jpeg");
  position: absolute;
}

.main-content {
    margin: 5rem;
}

.text-area {
    background-color: #fff;
    position: relative;
    width: 60%;
}

.main-content {
    margin: 3rem;
}

.nav-bar {
    background-color: #fff;
    width: 150px;
    height: 350px;
    margin-left: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.item:hover {
    background-color: lightgreen;
}
.item-disabled {
    background-color: lightgray;
}

ul {
    padding: 0;
    list-style-type: none;
}

table{
    width: 100%;
}

table, th, td {
    border-top: 0px none;
    border-bottom: 5px solid white;
    font-weight: normal;
    vertical-align: top;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.align-left {
    float: left;
}

.align-right {
    float: right
}
